<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JS.GG</title>
    <link rel="icon" sizes="16x16" href="image/home/indexPC/favicon.ico">
    <link rel="stylesheet" href="/css/home/searchPC.css">
    <script type="module" src="/js/search/fetchData.js"></script>
    <script type="module" src="/js/search/Data.js"></script>
    <script type="module" src="/js/search/changeUserData.js"></script>
    <script type="module" src="/js/search/handlerCode.js"></script>
    <script type="module" src="/js/home/searchPC.js" defer></script>
</head>

<body>
    <div class="all">
        <nav>
            <header>
                <div class="top"><!-- 배너 위 쪽 헤더 -->
                    <a href="#" class="header-logo">JS.GG</a><!-- 좌측 상단 로고 -->
                    <ul class="menu"> <!-- 헤더 메뉴 -->
                        <li><a href="/">홈</a></li>
                        <li><a href="#">챔피언</a></li>
                        <li><a href="#">랭킹</a></li>
                        <li><a href="/findparty">파티찾기</a></li>
                        <li><a href="https://lol-mbti.vercel.app/">롤비티아이</a></li>
                    </ul>
                    <ul class="setting"> <!-- 헤더 다크모드및 로그인 -->
                        <li class="darkmod"> <!-- 다크모드 -->
                            <label for="sun">
                                <svg class="sc-1syzb6g-0 sc-3k9w01-1 dZGYjt qgzsU" width="36" height="36"
                                    viewBox="-4 -6 30 30" fill="rgb(41, 119, 235)" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="11" cy="11" r="5.5" fill="rgb(41, 119, 235)"></circle>
                                    <path
                                        d="M10.0833 2.74998C10.0833 2.24372 10.4937 1.83331 10.9999 1.83331C11.5062 1.83331 11.9166 2.24372 11.9166 2.74998V4.58331H10.0833V2.74998Z"
                                        fill="rgb(41, 119, 235)"></path>
                                    <path
                                        d="M4.54613 5.8427C4.18815 5.48472 4.18815 4.90432 4.54613 4.54634C4.90411 4.18836 5.48451 4.18836 5.84249 4.54634L7.13786 5.84171L5.8415 7.13807L4.54613 5.8427Z"
                                        fill="rgb(41, 119, 235)"></path>
                                    <path
                                        d="M16.1941 4.56513C16.5516 4.20771 17.1311 4.20771 17.4885 4.56513C17.8459 4.92255 17.8459 5.50203 17.4885 5.85945L16.1911 7.15683L14.8968 5.86251L16.1941 4.56513Z"
                                        fill="rgb(41, 119, 235)"></path>
                                    <path
                                        d="M2.74992 11.9167C2.24366 11.9167 1.83325 11.5063 1.83325 11C1.83325 10.4938 2.24366 10.0834 2.74992 10.0834L4.58325 10.0834L4.58325 11.9167L2.74992 11.9167Z"
                                        fill="rgb(41, 119, 235)"></path>
                                    <path
                                        d="M11.9167 19.25C11.9167 19.7563 11.5063 20.1667 11.0001 20.1667C10.4938 20.1667 10.0834 19.7563 10.0834 19.25L10.0834 17.4167L11.9167 17.4167L11.9167 19.25Z"
                                        fill="rgb(41, 119, 235)"></path>
                                    <path
                                        d="M19.2501 10.0833C19.7563 10.0833 20.1667 10.4937 20.1667 11C20.1667 11.5062 19.7563 11.9166 19.2501 11.9166L17.4167 11.9166L17.4167 10.0833L19.2501 10.0833Z"
                                        fill="rgb(41, 119, 235)"></path>
                                    <path
                                        d="M5.81493 17.4623C5.45614 17.8211 4.87442 17.8211 4.51563 17.4623C4.15684 17.1036 4.15684 16.5218 4.51563 16.163L5.81289 14.8658L7.11219 16.1651L5.81493 17.4623Z"
                                        fill="rgb(41, 119, 235)"></path>
                                    <path
                                        d="M17.4282 16.1319C17.7862 16.4899 17.7862 17.0703 17.4282 17.4283C17.0703 17.7863 16.4899 17.7863 16.1319 17.4283L14.8355 16.1319L16.1319 14.8355L17.4282 16.1319Z"
                                        fill="rgb(41, 119, 235)">
                                        <circle cx="11" cy="11" r="5.5" fill="rgb(41, 119, 235)"></circle>
                                        <path
                                            d="M10.0833 2.74998C10.0833 2.24372 10.4937 1.83331 10.9999 1.83331C11.5062 1.83331 11.9166 2.24372 11.9166 2.74998V4.58331H10.0833V2.74998Z"
                                            fill="rgb(41, 119, 235)"></path>
                                        <path
                                            d="M4.54613 5.8427C4.18815 5.48472 4.18815 4.90432 4.54613 4.54634C4.90411 4.18836 5.48451 4.18836 5.84249 4.54634L7.13786 5.84171L5.8415 7.13807L4.54613 5.8427Z"
                                            fill="rgb(41, 119, 235)"></path>
                                        <path
                                            d="M16.1941 4.56513C16.5516 4.20771 17.1311 4.20771 17.4885 4.56513C17.8459 4.92255 17.8459 5.50203 17.4885 5.85945L16.1911 7.15683L14.8968 5.86251L16.1941 4.56513Z"
                                            fill="rgb(41, 119, 235)"></path>
                                        <path
                                            d="M11.9167 19.25C11.9167 19.7563 11.5063 20.1667 11.0001 20.1667C10.4938 20.1667 10.0834 19.7563 10.0834 19.25L10.0834 17.4167L11.9167 17.4167L11.9167 19.25Z"
                                            fill="rgb(41, 119, 235)"></path>
                                        <path
                                            d="M11.9167 19.25C11.9167 19.7563 11.5063 20.1667 11.0001 20.1667C10.4938 20.1667 10.0834 19.7563 10.0834 19.25L10.0834 17.4167L11.9167 17.4167L11.9167 19.25Z"
                                            fill="rgb(41, 119, 235)"></path>
                                        <path
                                            d="M19.2501 10.0833C19.7563 10.0833 20.1667 10.4937 20.1667 11C20.1667 11.5062 19.7563 11.9166 19.2501 11.9166L17.4167 11.9166L17.4167 10.0833L19.2501 10.0833Z"
                                            fill="rgb(41, 119, 235)"></path>
                                        <path
                                            d="M5.81493 17.4623C5.45614 17.8211 4.87442 17.8211 4.51563 17.4623C4.15684 17.1036 4.15684 16.5218 4.51563 16.163L5.81289 14.8658L7.11219 16.1651L5.81493 17.4623Z"
                                            fill="rgb(41, 119, 235)"></path>
                                        <path
                                            d="M17.4282 16.1319C17.7862 16.4899 17.7862 17.0703 17.4282 17.4283C17.0703 17.7863 16.4899 17.7863 16.1319 17.4283L14.8355 16.1319L16.1319 14.8355L17.4282 16.1319Z"
                                            fill="rgb(41, 119, 235)"></path>
                                </svg>
                            </label>
                            <input id="sun" name="sun" type="checkbox" style="display: none;">
                        </li>
                        <li class="language"> <!-- 언어 -->
                            <svg xmlns="http://www.w3.org/2000/svg" height="1.25em" viewBox="0 0 512 512">
                                <path
                                    d="M57.7 193l9.4 16.4c8.3 14.5 21.9 25.2 38 29.8L163 255.7c17.2 4.9 29 20.6 29 38.5v39.9c0 11 6.2 21 16 25.9s16 14.9 16 25.9v39c0 15.6 14.9 26.9 29.9 22.6c16.1-4.6 28.6-17.5 32.7-33.8l2.8-11.2c4.2-16.9 15.2-31.4 30.3-40l8.1-4.6c15-8.5 24.2-24.5 24.2-41.7v-8.3c0-12.7-5.1-24.9-14.1-33.9l-3.9-3.9c-9-9-21.2-14.1-33.9-14.1H257c-11.1 0-22.1-2.9-31.8-8.4l-34.5-19.7c-4.3-2.5-7.6-6.5-9.2-11.2c-3.2-9.6 1.1-20 10.2-24.5l5.9-3c6.6-3.3 14.3-3.9 21.3-1.5l23.2 7.7c8.2 2.7 17.2-.4 21.9-7.5c4.7-7 4.2-16.3-1.2-22.8l-13.6-16.3c-10-12-9.9-29.5 .3-41.3l15.7-18.3c8.8-10.3 10.2-25 3.5-36.7l-2.4-4.2c-3.5-.2-6.9-.3-10.4-.3C163.1 48 84.4 108.9 57.7 193zM464 256c0-36.8-9.6-71.4-26.4-101.5L412 164.8c-15.7 6.3-23.8 23.8-18.5 39.8l16.9 50.7c3.5 10.4 12 18.3 22.6 20.9l29.1 7.3c1.2-9 1.8-18.2 1.8-27.5zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256z" />
                            </svg>
                            <select name="language" id="language">
                                <option value="korea">한국어</option>
                                <option value="english">English</option>
                            </select>
                        </li>
                        <li class="login"><!-- 로그인 -->
                            <a href="#">로그인</a>
                        </li>
                    </ul>
                </div>
                <div class="banner"><!-- 헤더 밑 배너 -->
                    <div>
                        <a href="/findparty">마음이 맞는 팀원과 함께 플레이 해보세요!</a><!-- 베너 문구 -->
                    </div>
                </div>
            </header>
        </nav>
        <div class="search-con">
            <div class="search">
                <div class="input">
                    <select name="" id="">
                        <option value="kr">KR</option>
                        <option value="na">NA</option>
                        <option value="jp">JP</option>
                    </select>
                    <input id="search-input" type="text" placeholder="소환사명을 입력해주세요">
                    <img src="" alt="">
                    <svg xmlns="http://www.w3.org/2000/svg" height="1.25em" viewBox="0 0 512 512">
                        <path
                            d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z" />
                    </svg>
                </div>
            </div>
        </div>
        <div class="userdata-section">
            <div class="userdata-con">
                <div class="userdata-left">
                    <img id="profileicon" src="" alt="Unknown">
                    <div class="userdata-name">
                        <p id="username">Unknown</p>
                        <p id="userlevel">Unknown</p>
                    </div>
                </div>
                <div class="userdata-right">
                    <ul>
                        <li>
                            <div class="champion-con">
                                <img id="championicon0" class="championicon" src="/image/home/search/none.png" alt="">
                                <img id="championlevel0" class="championlevel"  src="" alt="">
                            </div>
                            <p id="championname0" class="championname"></p>
                            <p id="championpoint0" class="championpoint"></p>
                        </li>
                        <li>
                            <div class="champion-con">
                                <img id="championicon1" class="championicon" src="/image/home/search/none.png" alt="">
                                <img id="championlevel1" class="championlevel"  src="" alt="">
                            </div>
                            <p id="championname1" class="championname"></p>
                            <p id="championpoint1" class="championpoint"></p>
                        </li>
                        <li>
                            <div class="champion-con">
                                <img id="championicon2" class="championicon" src="/image/home/search/none.png" alt="">
                                <img id="championlevel2" class="championlevel"  src="" alt="">
                            </div>
                            <p id="championname2" class="championname"></p>
                            <p id="championpoint2" class="championpoint"></p>
                        </li>
                        <li>
                            <div class="champion-con">
                                <img id="championicon3" class="championicon" src="/image/home/search/none.png" alt="">
                                <img id="championlevel3" class="championlevel"  src="" alt="">
                            </div>
                            <p id="championname3" class="championname"></p>
                            <p id="championpoint3" class="championpoint"></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="userdata-section2">
            <div class="userdata-con">
                <div class="userdata-rank">
                    <div class="solo rank">
                        <p class="ranktype">솔로랭크</p>
                        <div id="sololppiechart" class="lppiechart">
                            <div class="background">
                                <img id="soloemblem" class="emblem" src="/image/home/search/rankedemblem/UNRANKED.png" alt="">
                            </div>
                        </div>
                        <p id="solotier" class="tier">Unranked</p>
                        <p id="solowincount" class="wincount"></p>
                        <p id="solowinrate" class="winrate"></p>
                        <p id="sololp" class="lp"></p>
                    </div>
                    <div class="flex rank">
                        <p class="ranktype">자유랭크</p>
                        <div id="flexlppiechart" class="lppiechart">
                            <div class="background">
                                <img id="flexemblem" class="emblem" src="/image/home/search/rankedemblem/UNRANKED.png" alt="">
                            </div>
                        </div>
                        <p id="flextier" class="tier">Unranked</p>
                        <p id="flexwincount" class="wincount"></p>
                        <p id="flexwinrate" class="winrate"></p>
                        <p id="flexlp" class="lp"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>